/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, semantic-mixins/_main.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 10, semantic-mixins/_main.sass */
html {
  font-size: 1.125em;
}

/* line 13, semantic-mixins/_main.sass */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, semantic-mixins/_main.sass */
img {
  vertical-align: middle;
}

/* line 22, semantic-mixins/_main.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 28, semantic-mixins/_main.sass */
textarea {
  resize: vertical;
}

/* line 36, semantic-mixins/_css3-support.sass */
::selection {
  text-shadow: none;
  color: white;
  background: #8b5189;
}

/* line 40, semantic-mixins/_css3-support.sass */
::-moz-selection {
  text-shadow: none;
  color: white;
  background: #8b5189;
}

/* line 12, style.sass */
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #222222;
  text-align: center;
}

/* line 17, style.sass */
h1, h2, h3, h4 {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
}

/* line 21, style.sass */
h3 {
  font-size: 1.33333em;
}

/* line 24, style.sass */
a {
  color: #00b7ff;
  font-weight: bold;
}

/* line 28, style.sass */
ul {
  list-style: none;
}
/* line 31, style.sass */
ul.roles {
  text-transform: lowercase;
}
/* line 42, semantic-mixins/_main.sass */
.we_are ul.roles {
  width: 100%;
  margin-bottom: 1.11111em;
}
@media only screen and (max-width: 768px) {
  /* line 42, semantic-mixins/_main.sass */
  .we_are ul.roles {
    margin: 0 auto 3.33333em;
  }
}

/* line 39, style.sass */
.we_are, .looking_for, .be_use, .endorse, #footer_share {
  padding: 1.66667em 1.11111em;
}

/* line 42, style.sass */
.looking_for, .endorse {
  color: white;
  background: #222222;
}

/* line 46, style.sass */
#main_header {
  width: 100%;
  padding: 5.55556em 0 7.22222em;
  background: url(../img/bg1.jpg) no-repeat fixed;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4) inset;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 980px) {
  /* line 46, style.sass */
  #main_header {
    background-size: cover;
  }
}
/* line 57, style.sass */
#main_header #logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background-repeat: no-repeat;
  height: 166px;
  width: 190px;
  background-image: url(../img/comum-logo.png);
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
/* line 63, style.sass */
#main_header #logo-shadow {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background-repeat: no-repeat;
  height: 180px;
  width: 202px;
  background-image: url(../img/logo-shadow.png);
  position: absolute;
  z-index: 2;
}

/* line 68, style.sass */
.we_are {
  overflow: hidden;
}
/* line 71, style.sass */
.we_are .group {
  width: 33%;
  position: relative;
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 71, style.sass */
  .we_are .group {
    width: 100%;
  }
}

/* line 79, style.sass */
.group {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 768px) {
  /* line 79, style.sass */
  .group {
    width: 100%;
  }
}

/* line 86, style.sass */
.looking_for {
  overflow: hidden;
}
/* line 89, style.sass */
.looking_for h3, .looking_for p {
  float: left;
  width: 33%;
}
@media only screen and (max-width: 768px) {
  /* line 89, style.sass */
  .looking_for h3, .looking_for p {
    clear: left;
    width: 100%;
    margin-bottom: 1.11111em;
  }
}
/* line 97, style.sass */
.looking_for h3 {
  margin-top: 1em;
}

/* line 100, style.sass */
.be_use, .endorse {
  min-height: 50px;
}
/* line 103, style.sass */
.be_use h3, .be_use p, .endorse h3, .endorse p {
  margin-bottom: 1.11111em;
}
/* line 106, style.sass */
.be_use h3, .endorse h3 {
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 768px) {
  /* line 106, style.sass */
  .be_use h3, .endorse h3 {
    position: static;
  }
}
/* line 112, style.sass */
.be_use .btns, .endorse .btns {
  margin-top: 2em;
}
/* line 115, style.sass */
.be_use a.btn, .endorse a.btn {
  color: white;
  background: #222222;
  text-decoration: none;
  padding: 0.8em 1.2em;
  border-radius: 0.4em;
  margin: 0.3em;
  white-space: nowrap;
}
/* line 124, style.sass */
.be_use a.btn:hover, .endorse a.btn:hover {
  background: #3c3c3c;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 0 8px black inset;
}

/* line 130, style.sass */
#footer_share .fb-like {
  margin: 0 auto;
  display: block;
  width: 450px;
}
