@import compass/reset
@import compass/typography/text
@import ./semantic-mixins/all

+css-techniques(18)

$black: #222
+selection
  color: white
  background: rgb(139, 81, 137)

body
  font-family: Georgia, Times, "Times New Roman", serif
  color: $black
  text-align: center
  min-width: 470px

h1, h2, h3, h4
  font-family: 'Fjalla One', sans-serif
  text-transform: uppercase

h3
  font-size: relative-size(24,18)

a
  color: #00B7FF
  font-weight: bold

ul
  list-style: none

  &.roles
    text-transform: lowercase
    +context('.we_are')
      width: 100%
      margin-bottom: relative-size(20,18)
      +apply-to(less-than, ipad-portrait)
        margin: 0 auto relative-size(60,18)

.we_are, .looking_for, .be_use, .endorse, #footer_share
  padding: relative-size(30,18) relative-size(20,18)

.looking_for, .endorse
  color: white
  background: $black

#main_header
  width: 100%
  padding: relative-size(100,18) 0 relative-size(130,18)
  background: url(../img/bg1.jpg) no-repeat fixed
  box-shadow: 0 -2px 10px rgba(black, .4) inset
  background-size: contain
  position: relative
  overflow: hidden
  +apply-to(less-than, ipad-landscape)
    background-size: cover

  #logo
    +image-replace("comum-logo.png")
    margin: 0 auto
    position: relative
    z-index: 10

  #logo-shadow
    +image-replace("logo-shadow.png")
    position: absolute
    z-index: 2

.we_are
  overflow: hidden

  .group
    width: 33%
    position: relative
    float: left

    +apply-to(less-than, ipad-portrait)
      width: 100%

.group
  width: 75%
  margin: 0 auto
  position: relative
  +apply-to(less-than, ipad-portrait)
    width: 100%

.looking_for
  overflow: hidden

  h3, p
    float: left
    width: 33%
    +apply-to(less-than, ipad-portrait)
      clear: left
      width: 100%
      margin-bottom: relative-size(20,18)

  h3
    margin-top: 1em

.be_use, .endorse
  min-height: 50px

  h3, p
    margin-bottom: relative-size(20,18)

  h3
    position: absolute
    left: 0
    +apply-to(less-than, ipad-portrait)
      position: static

  .btns
    margin-top: 2em

  a.btn
    color: white
    background: $black
    text-decoration: none
    padding: .8em 1.2em
    border-radius: .4em
    margin: .3em
    white-space: nowrap

    &:hover
      background: lighten($black, 10%)
      text-shadow: 1px 1px 1px black
      box-shadow: 0 0 8px black inset

.brands
  overflow: hidden
  padding-top: 2em

  img
    +grayscale(70%)
    +transition(all .6s)
    padding: .1em
    border-radius: 10px
    margin: .3em

    &:hover
      +grayscale(0%)

#footer_share
  .fb-like
    margin: 0 auto
    display: block
    width: 450px