extends layout
include mixins

block content
  header#main_header
    h1#logo= config.app.pretty_url

  section.we_are
    .group
      h3 Somos um/uma
      mixin roles_list(['Marca', 'Símbolo', 'Movimento', 'Comunidade', 'Bandeira', 'Insígnia', 'Grupo', 'Nome', 'Ideia', 'Rede'])

    .group
      h3 100%
      mixin roles_list(['Compartilhada', 'Open Source', 'Autônoma', 'Gratuita', 'Livre', 'Aberta', 'Coletiva', 'Distribuída', 'Colaborativa', 'Auto-gestionada'])

    .group
      h3 que faz
      mixin roles_list(['Arte', 'Ações', 'Projetos', 'Negócios', 'Tecnologia', 'Comunicação', 'Encontros', 'Produtos', 'Serviços', 'Coisas'])

  section.looking_for
    .group
      h3 Buscamos
      mixin split_p(['formar,', 'preservar e', 'desenvolver'])
      mixin split_p(['pessoas,', 'ecossistemas', 'e comunidades'])

  section.be_use
    .group
      h3 Seja e use
      mixin split_p(['como quiser', 'sem moderação', 'como lhe conviér', 'quando tiver necessidade'])
      aside.btns
        a.btn(href="https://groups.google.com/forum/?hl=pt-PT&fromgroups#!forum/grupocomum") lista de e-mails
        a.btn(href="/comum.pdf") download da marca

  section.endorse
    .group
      h3 Endossam
      mixin brands(brands)


  footer#footer_share
    .fb-like(data-href="http://comum.cc", data-send="true", data-width="450", data-show-faces="true")